<!-- Header -->
<div class="jumbotron">
  <div class="container">
    <a [routerLink]="filmsUrl">&lt;&lt; Back to Films</a>
  </div>
</div>
<!-- Body -->
<div class="container">
  <div class="card" *ngIf="specie">
    <div class="card-header">
      <b>{{ specie.name | titlecase }}</b>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let item of Mappings">
        <span
          class="bg-secondary text-white p-1 mr-1 rounded text-capitalize"
          >{{ item.label | titlecase }}</span
        >
        <span *ngIf="!item.isList && !item.isLink">{{ specie[item.key] }}</span>
        <a
          *ngIf="!item.isList && item.isLink"
          [href]="specie[item.key]"
          target="_blank"
          >{{ specie[item.key] }}</a
        >
        <div *ngIf="item.isList && item.isLink">
          <div *ngFor="let link of specie[item.key]">
            <a [href]="link" target="_blank">{{ link }}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
